#header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #F44336;
}

.search {
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  border: 0px solid;
  background-color: #FAFAFA;
  padding: 8px;
  width: 350px;
}

.card-row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

#fab{
  background-color: #F44336;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

body {
  margin: 0;
}

h1 {
  font-family: "Palanquin";
  font-size: 55px;
}

h2 {
  font-family: "Palanquin";
  font-size: 35px;
  margin: 0px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
  background-color: #F44336;
  color: white;
  padding: 16px;
}

.modal-body {padding: 2px 16px;}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
