header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #F44336;
}

.search {
  border: 0px solid;
  background-color: #FFCDD2;
  padding: 8px;
  width: 350px;
}

body {
  margin: 0;
}
