#header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #F44336;
}

.search {
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  border: 0px solid;
  background-color: #FAFAFA;
  padding: 8px;
  width: 350px;
}

.card-row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

#fab{
  background-color: #F44336;
position: fixed;
bottom: 20px;
right: 20px;
}

body {
  margin: 0;
}

h1 {
  font-family: "Palanquin";
  font-size: "20px";
}
